In [78]:
import pandas as pd
import re

In [8]:
math = pd.read_csv("../data/csv/math.csv", lineterminator='\n')
chemistry = pd.read_csv("../data/csv/chemistry.csv", lineterminator='\n')
physics = pd.read_csv("../data/csv/physics.csv", lineterminator='\n')
biology = pd.read_csv("../data/csv/biology.csv", lineterminator='\n')

In [9]:
math.head()

,CreationDate,Id,PostId,Score,Text,UserDisplayName,UserId
0,2010-07-20T19:24:44.963,2,9,6,Fantastic answer!,NaN,10.0
1,2010-07-20T19:26:09.357,3,9,6,"I like this so far, but maybe add a bit on unc...",NaN,16.0
2,2010-07-20T19:27:07.983,5,17,1,"Oh, I figured as so. I remember learning about...",NaN,40.0
3,2010-07-20T19:28:16.077,8,17,1,It is much better than an approximation: it gi...,NaN,55.0
4,2010-07-20T19:29:17.900,10,20,3,You've missed out many types of number: comple...,NaN,35.0

In [66]:
math = math[math['Equation'].notnull()]

In [69]:
math.reset_index(inplace = True, drop = True)

In [70]:
math['Label'] = "math"

/Users/shuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [74]:
math.head()

,CreationDate,Id,PostId,Score,Text,UserDisplayName,UserId,Equation,Label
0,2010-07-20T19:28:16.077,8,17,1,It is much better than an approximation: it gi...,NaN,55.0,[n],math
1,2010-07-20T19:41:44.767,20,17,6,"By the way, if you want an approximation, you ...",NaN,55.0,"[|1-\varphi|<1, F(n)={\varphi^n \over {\sqrt 5}}]",math
2,2010-07-21T00:23:24.567,201,194,3,Yes (as has been answered): the heuristic reas...,NaN,536.0,"[p_1, p_2, \dots, p_n, (1-1/p_n), \prod ( 1 - ...",math
3,2010-07-21T13:11:06.600,439,310,0,What do you mean by $T \subset Z_{10}$? In fac...,NaN,123.0,"[T \subset Z_{10}, T]",math
4,2010-07-21T13:30:00.707,445,310,0,"Ack, I meant $Z_{15}$. $T$ is the subring of $...",NaN,536.0,"[Z_{15}, T, Z_{15}]",math

In [61]:
def regrex_processing(subject):
    equation = []
    pattern = re.compile('.*?\$(.*?)\$')
    subject['Text'] = subject['Text'].astype(str)
    for text in subject.Text:
        try:
            if "$" in text:
                eq = re.findall(pattern, text)
                equation.append(eq)
            else:
                equation.append(None)
        except:
            print('An error occured with ' + text)
    subject['Equation'] = equation
    new_subject = subject[subject['Equation'].notnull()].reset_index(drop = True)
    return new_subject

In [71]:
chemistry = regrex_processing(chemistry)
chemistry['Label'] = "chemistry"

In [72]:
physics = regrex_processing(physics)
physics['Label'] = "physics"

In [73]:
biology = regrex_processing(biology)
biology['Label'] = 'biology'

In [ ]:
data = pd.concat([math, chemistry, physics, biology])
data.to_csv("../data/csv/all.csv", index = False)

/Users/shuang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.