In [1]:
import pandas as pd
import re

In [2]:
math_comment = pd.read_csv("../data/csv/math_comment.csv", lineterminator='\n')
chemistry_comment = pd.read_csv("../data/csv/chemistry_comment.csv", lineterminator='\n')
physics_comment = pd.read_csv("../data/csv/physics_comment.csv", lineterminator='\n')
biology_comment = pd.read_csv("../data/csv/biology_comment.csv", lineterminator='\n')

math_post = pd.read_csv("../data/csv/math_post.csv", lineterminator='\n')
chemistry_post = pd.read_csv("../data/csv/chemistry_post.csv", lineterminator='\n')
physics_post = pd.read_csv("../data/csv/physics_post.csv", lineterminator='\n')
biology_post = pd.read_csv("../data/csv/biology_post.csv", lineterminator='\n')

/Users/shuang/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
math_comment.head()

,CreationDate,Id,PostId,Score,Text,UserDisplayName,UserId
0,2010-07-20T19:24:44.963,2,9,6,Fantastic answer!,NaN,10.0
1,2010-07-20T19:26:09.357,3,9,6,"I like this so far, but maybe add a bit on unc...",NaN,16.0
2,2010-07-20T19:27:07.983,5,17,1,"Oh, I figured as so. I remember learning about...",NaN,40.0
3,2010-07-20T19:28:16.077,8,17,1,It is much better than an approximation: it gi...,NaN,55.0
4,2010-07-20T19:29:17.900,10,20,3,You've missed out many types of number: comple...,NaN,35.0

In [4]:
math_post.head()

,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,LastActivityDate,...,LastEditorDisplayName,LastEditorUserId,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount
0,9.0,9.0,<p>Can someone explain to me how there can be ...,NaN,0,NaN,2010-07-20T19:09:27.200,41.0,1,2018-03-17T12:34:06.470,...,user126,32803.0,NaN,10.0,NaN,1,147,<elementary-set-theory><intuition><infinity><faq>,What Does it Really Mean to Have Different Kin...,8068.0
1,NaN,19.0,"<p><a href=""http://mathfactor.uark.edu/"">mathf...",NaN,3,2010-07-20T20:35:23.263,2010-07-20T19:12:14.353,71.0,3,2019-04-22T23:33:53.360,...,user126,498.0,NaN,29.0,NaN,1,106,<soft-question><big-list><online-resources>,List of interesting math podcasts?,65669.0
2,NaN,NaN,"<p><a href=""http://www.bbc.co.uk/podcasts/seri...",NaN,1,2010-07-20T20:35:23.263,2010-07-20T19:14:10.603,NaN,4,2010-07-20T19:14:10.603,...,NaN,NaN,NaN,31.0,3.0,2,8,NaN,NaN,NaN
3,7.0,13.0,<p>I have read a few proofs that $\sqrt{2}$ is...,NaN,7,NaN,2010-07-20T19:18:01.250,17.0,5,2018-11-04T17:18:37.560,...,user242,327363.0,NaN,38.0,NaN,1,50,<elementary-number-theory><proof-writing><radi...,How can you prove that the square root of two ...,11664.0
4,281.0,7.0,"<p>I'm looking for a nice, quick online graphi...",NaN,0,2010-07-20T19:20:00.543,2010-07-20T19:20:00.543,29.0,6,2018-08-07T11:15:52.563,...,user126,39567.0,NaN,41.0,NaN,1,40,<soft-question><math-software>,What is your favorite online graphing tool?,4592.0

In [7]:
def regrex_processing_comment(subject):
    equation = []
    pattern = re.compile('.*?\$(.+?)\$')
    subject['Text'] = subject['Text'].astype(str)
    for text in subject.Text:
        try:
            if "$" in text:
                eq = re.findall(pattern, text)
                for i in range(len(eq)):
                    eq[i] = eq[i].replace("$", "")
                equation.append(eq)
            else:
                equation.append(None)
        except:
            print('An error occured with ' + text)
    subject['Equation'] = equation
    new_subject = subject[subject['Equation'].notnull()].reset_index(drop = True)
    return new_subject

In [28]:
def regrex_processing_post(subject):
    equation = []
    pattern = re.compile('.*?\$(.+?)\$')
    subject['Body'] = subject['Body'].astype(str)
    for text in subject.Body:
        try:
            if "$" in text:
                eq = re.findall(pattern, text)
                for i in range(len(eq)):
                    eq[i] = eq[i].replace("$", "")
                equation.append(eq)
            else:
                equation.append(None)
        except:
            print('An error occured with ' + text)
    subject['Equation'] = equation
    new_subject = subject[subject['Equation'].notnull()].reset_index(drop = True)
    return new_subject

In [9]:
math_comment = regrex_processing_comment(math_comment)
math_comment['Label'] = 'math'

In [10]:
math_comment.head()

,CreationDate,Id,PostId,Score,Text,UserDisplayName,UserId,Equation,Label
0,2010-07-20T19:28:16.077,8,17,1,It is much better than an approximation: it gi...,NaN,55.0,[n],math
1,2010-07-20T19:41:44.767,20,17,6,"By the way, if you want an approximation, you ...",NaN,55.0,"[|1-\varphi|<1, F(n)={\varphi^n \over {\sqrt 5}}]",math
2,2010-07-21T00:23:24.567,201,194,3,Yes (as has been answered): the heuristic reas...,NaN,536.0,"[p_1, p_2, \dots, p_n, (1-1/p_n), \prod ( 1 - ...",math
3,2010-07-21T13:11:06.600,439,310,0,What do you mean by $T \subset Z_{10}$? In fac...,NaN,123.0,"[T \subset Z_{10}, T]",math
4,2010-07-21T13:30:00.707,445,310,0,"Ack, I meant $Z_{15}$. $T$ is the subring of $...",NaN,536.0,"[Z_{15}, T, Z_{15}]",math

In [18]:
math_comment.to_csv("../data/equation/math_comment_eq.csv", index = False)

In [29]:
math_post = regrex_processing_post(math_post)
math_post['Label'] = 'math'

In [30]:
math_post.head()

,AcceptedAnswerId,AnswerCount,Body,ClosedDate,CommentCount,CommunityOwnedDate,CreationDate,FavoriteCount,Id,LastActivityDate,...,OwnerDisplayName,OwnerUserId,ParentId,PostTypeId,Score,Tags,Title,ViewCount,Equation,Label
0,7.0,13.0,<p>I have read a few proofs that $\sqrt{2}$ is...,NaN,7,NaN,2010-07-20T19:18:01.250,17.0,5,2018-11-04T17:18:37.560,...,NaN,38.0,NaN,1,50,<elementary-number-theory><proof-writing><radi...,How can you prove that the square root of two ...,11664.0,"[\sqrt{2}, \sqrt{2}]",math
1,NaN,NaN,<p>You use a proof by contradiction. Basically...,NaN,10,NaN,2010-07-20T19:21:52.240,NaN,7,2010-07-20T19:21:52.240,...,NaN,45.0,5.0,2,74,NaN,NaN,NaN,"[\sqrt{2}, p/q, 2q^2 = p^2, q^2, p^2, 2q^2, p^2]",math
2,17.0,7.0,"<p>I was reading up on the Fibonacci Sequence,...",NaN,0,NaN,2010-07-20T19:22:12.190,3.0,8,2018-01-24T04:10:51.457,...,NaN,40.0,NaN,1,33,<linear-algebra><combinatorics><generating-fun...,How are we able to calculate specific numbers ...,1705.0,"[\text {{1,1,2,3,5,8,13,....}}]",math
3,49.0,27.0,<p>I'm told by <em>smart people</em> that\n$$0...,NaN,1,2010-07-28T06:53:43.987,2010-07-20T19:23:09.117,114.0,11,2019-05-28T16:01:37.117,...,NaN,41.0,NaN,1,267,<real-analysis><algebra-precalculus><decimal-e...,Is it true that $0.999999999\dots=1$?,40630.0,[0.999999999\dots=1],math
4,NaN,NaN,<p>Consider this proof by contradiction:</p>\n...,NaN,1,NaN,2010-07-20T19:23:50.563,NaN,16,2010-07-20T19:23:50.563,...,NaN,48.0,5.0,2,22,NaN,NaN,NaN,"[\sqrt{2}, R=\sqrt{2}=\frac{Q}{D}, Q, D, R, R^...",math

In [31]:
math_post.to_csv("../data/equation/math_post_eq.csv", index = False)

In [32]:
subject_string = ['chemistry', 'physics', 'biology']
comment_df = [chemistry_comment, physics_comment, biology_comment]
post_df= [chemistry_post, physics_post, biology_post]

In [38]:
for i in range(len(subject_string)):
    print("start processing comments for " + subject_string[i])
    subject_comment = regrex_processing_comment(comment_df[i])
    print("start processing posts for " + subject_string[i])
    subject_post = regrex_processing_post(post_df[i])
    
    subject_comment['Label'] = subject_string[i]
    subject_post['Label'] = subject_string[i]
    
    print("start saving comments for " + subject_string[i])
    subject_comment.to_csv("../data/equation/" + subject_string[i] + "_comment_eq.csv", index = False)
    print("start saving posts for " + subject_string[i])
    subject_post.to_csv("../data/equation/" + subject_string[i] + "_post_eq.csv", index = False)

start processing comments for chemistry
start processing posts for chemistry
start saving comments for chemistry
start saving posts for chemistry
start processing comments for physics
start processing posts for physics
start saving comments for physics
start saving posts for physics
start processing comments for biology
start processing posts for biology
start saving comments for biology
start saving posts for biology