In [1]:
import pandas as pd
import re

In [2]:
# math_comment = pd.read_csv("../data/equation/math_comment_eq_filtered.csv", lineterminator='\n')
chemistry_comment = pd.read_csv("../data/equation/chemistry_comment_eq_filtered.csv", lineterminator='\n')
physics_comment = pd.read_csv("../data/equation/physics_comment_eq_filtered.csv", lineterminator='\n')
biology_comment = pd.read_csv("../data/equation/biology_comment_eq_filtered.csv", lineterminator='\n')

In [3]:
chemistry_comment.head()

   Equation      Label                                               Body
0         d  chemistry  Just as a side note, there can also be more co...
1         f  chemistry  Just as a side note, there can also be more co...
2         G  chemistry  But that's the point. $G$ is not zero by the f...
3  \Delta G  chemistry  But that's the point. $G$ is not zero by the f...
4         G  chemistry  Just because $G$ is at its minimum does not ma...

In [4]:
all_comment = pd.concat([chemistry_comment, physics_comment, biology_comment])

In [33]:
len(pd.unique(all_comment['Equation']))

124783

In [5]:
all_comment.head()

   Equation      Label                                               Body
0         d  chemistry  Just as a side note, there can also be more co...
1         f  chemistry  Just as a side note, there can also be more co...
2         G  chemistry  But that's the point. $G$ is not zero by the f...
3  \Delta G  chemistry  But that's the point. $G$ is not zero by the f...
4         G  chemistry  Just because $G$ is at its minimum does not ma...

In [14]:
def calculate_number(subject):
    pattern_digit = re.compile('([0-9])')
    digit = []
    pattern_letter = re.compile('([a-zA-Z])')
    letter = []
    pattern_other = re.compile('([^a-zA-Z0-9])')
    other = []
    subject['Equation'] = subject['Equation'].astype(str)
    for eq in subject.Equation:
        digit_len = len(re.findall(pattern_digit, eq))
        digit.append(digit_len)
        letter_len = len(re.findall(pattern_letter, eq))
        letter.append(letter_len)
        other_len = len(re.findall(pattern_other, eq))
        other.append(other_len)
    print("adding the new column for digits")    
    subject['Digit_num'] = digit
    print("adding the new column for letters")  
    subject['Letter_num'] = letter
    print("adding the new column for others")  
    subject['Other_num'] = other
    return subject

In [15]:
new_comment = calculate_number(all_comment)

adding the new column for digits
adding the new column for letters
adding the new column for others

In [16]:
new_comment.head()

,Equation,Label,Body,Digit_num,Letter_num,Other_num
0,d,chemistry,"Just as a side note, there can also be more co...",0,1,0
1,f,chemistry,"Just as a side note, there can also be more co...",0,1,0
2,G,chemistry,But that's the point. $G$ is not zero by the f...,0,1,0
3,\Delta G,chemistry,But that's the point. $G$ is not zero by the f...,0,6,2
4,G,chemistry,Just because $G$ is at its minimum does not ma...,0,1,0

In [20]:
example = new_comment.iloc[6].Equation

'C(+)-C(R_1,R_2,R_3)'

In [17]:
new_comment.groupby(['Label'])['Digit_num', 'Letter_num', 'Other_num'].mean().reset_index()

       Label  Digit_num  Letter_num  Other_num
0    biology   0.944970    4.877042   4.048151
1  chemistry   1.119159    6.061516   5.044636
2    physics   0.723177    7.543673   5.334561

In [18]:
new_comment.describe()

           Digit_num     Letter_num      Other_num
count  273637.000000  273637.000000  273637.000000
mean        0.757383       7.407836       5.304739
std         1.607542      12.012862       8.917795
min         0.000000       0.000000       0.000000
25%         0.000000       1.000000       1.000000
50%         0.000000       4.000000       3.000000
75%         1.000000       8.000000       6.000000
max        90.000000     353.000000     282.000000

In [34]:
# math_comment = pd.read_csv("../data/equation/math_comment_eq_filtered.csv", lineterminator='\n')
chemistry_post = pd.read_csv("../data/equation/chemistry_post_eq_filtered.csv", lineterminator='\n')
physics_post = pd.read_csv("../data/equation/physics_post_eq_filtered.csv", lineterminator='\n')
biology_post = pd.read_csv("../data/equation/biology_post_eq_filtered.csv", lineterminator='\n')

In [37]:
chemistry_post.head()

,Equation,Label,Body,Tags
0,\mathrm{NaCl},chemistry,<p>My understanding is that $\mathrm{NaCl}$ is...,<ions><crystal-structure><ionic-compounds><sol...
1,\mathrm{Cl},chemistry,<p>My understanding is that $\mathrm{NaCl}$ is...,<ions><crystal-structure><ionic-compounds><sol...
2,\mathrm{Cl^-},chemistry,<p>My understanding is that $\mathrm{NaCl}$ is...,<ions><crystal-structure><ionic-compounds><sol...
3,\mathrm{Na},chemistry,<p>My understanding is that $\mathrm{NaCl}$ is...,<ions><crystal-structure><ionic-compounds><sol...
4,\mathrm{Na^+},chemistry,<p>My understanding is that $\mathrm{NaCl}$ is...,<ions><crystal-structure><ionic-compounds><sol...

In [40]:
physics_post.tail()

,Equation,Label,Body,Tags
1347282,\nabla_\mu T^{\mu\nu}=0,physics,"<p>Reading through <a href=""https://arxiv.org/...",<general-relativity><differential-geometry><te...
1347283,\partial_t(\sqrt{-g}T^{t}_\nu)=-\partial_t(\sq...,physics,"<p>Reading through <a href=""https://arxiv.org/...",<general-relativity><differential-geometry><te...
1347284,|\Psi\rangle = \tfrac{1}{2}(|H_{A}\rangle|V_{...,physics,<p>First let me clear up some possible confusi...,NaN
1347285,\langle {\rm vac}|\Psi\rangle \langle\Psi|{\rm...,physics,<p>First let me clear up some possible confusi...,NaN
1347286,= \tfrac{1}{4}(|H_{A}\rangle|V_{B}\rangle + i|...,physics,<p>First let me clear up some possible confusi...,NaN

In [39]:
biology_post.head()

,Equation,Label,Body,Tags
0,v = 6d,biology,"<p>It's known (<a href=""http://ad-teaching.inf...",<human-biology><neuroscience>
1,v,biology,"<p>It's known (<a href=""http://ad-teaching.inf...",<human-biology><neuroscience>
2,d,biology,"<p>It's known (<a href=""http://ad-teaching.inf...",<human-biology><neuroscience>
3,v = \sqrt{\frac{i_\text{Na max}}{r_i c_m^2 V_\...,biology,"<p>It's known (<a href=""http://ad-teaching.inf...",<human-biology><neuroscience>
4,\ce{O2},biology,<p>Oxygen is actually highly toxic to cells an...,NaN

In [35]:
all_post = pd.concat([chemistry_post, physics_post, biology_post])

In [36]:
len(pd.unique(all_post['Equation']))

699000